.function {
    display: block;
    border-bottom: 1px solid black;
    background-color: lightblue;
}

.function:hover {
    background-color: lightgreen;
}

#functionlist {
    display: inline-block;
    float: left;
    overflow: auto; /* display scrollbar when overflow happens */
    height: 100%;
}

body {
    background-color: green;
    font-family: 'Roboto Mono';
    font-size: 10pt;
}
