.functionlist-entry {

    display: block;
    border-radius: 3px;
    border-bottom: 1px solid black;
    background-color: black;
    color: #00FF15;
    font-weight: bold;

}

.functionlist-entry:hover {
    background-color: #800080;
}

#functionlist {
    display: inline-block;
    float: left;
    overflow-y: auto; /* display scrollbar when overflow happens */
    overflow-x: hidden;
    height: 100%;
    max-width: 35%;
    color: #00FF15;
     font-weight: bold
}

body {
    /* background: linear-gradient(to bottom right, red, yellow); */
   border-bottom: 1px solid white;
    border-top: 1px solid white;
   background-color: black;
    font-family: 'Courier';
    font-size: 10pt;
}


