#graphcontainer {
    padding-left: 10px;
    height: 100%;
}

#bbs {
    display: block;
    background-color: #E0FFFF;
    width: 10wmin;
    height: 100%;
    overflow: auto; /* display scrollbar when overflow happens */
    overflow-x: scroll;
}

.graph polygon {
	fill: #E0FFFF;
}

.node polygon {
    fill: pink;
}

.edge polygon {
	fill: black;
}

#disas {
    background-color: #FFFFE0;
    height: 100%;
    overflow: auto; /* display scrollbar when overflow happens */
    display: none;
}
