#graphcontainer {
    padding-left: 10px;
    height: 100%;
}

#bbs {
    display: block;
    background-color: #E0FFFF;
    width: 10wmin;
    height: 98%;
    overflow: auto; /* display scrollbar when overflow happens */
    overflow-x: scroll;
}

.bb {
    border: 1px solid black;
    background-color: pink;
    display: block;
    width: 300px;
    height: auto;
    position: relative;
}

#disas {
    background-color: #FFFFE0;
    height: 98%;
    overflow: auto; /* display scrollbar when overflow happens */
    display: none;
}
