#graphcontainer {
    padding-left: 10px;
    height: 100%;
}

#bbs {
    display: block;
    background-color: #E0FFFF;
    width: 10wmin;
    height: 100%;
    overflow: auto; /* display scrollbar when overflow happens */
    overflow-x: scroll;
}

.node polygon {
    fill: pink;
}

.edge path {
    stroke-width: 3px;
}

tspan {
    font-family: 'Roboto Mono';
    font-size: 7pt;
}

.register {
    fill: blue;
}

.delimiter {
    fill: grey;
}

.instruction {
    fill: red;
}

.comment {
    fill: green;
}

#disas {
    background-color: #FFFFE0;
    height: 100%;
    overflow: auto; /* display scrollbar when overflow happens */
    display: none;
}
